* {
    padding: 0;
    margin: 0;
}


.s1 {
    color: black;
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 9pt;
}

.s2 {
    color: black;
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 16pt;
}

.s3 {
    color: black;
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    font-size: 10pt;
}

.s4 {
    color: black;
    font-family: Tahoma, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 9pt;
}

table,
tbody {
    vertical-align: top;
    overflow: visible;
}

table {
    border-collapse: collapse;
}

.logo {
    text-indent: 1pt;
    position: absolute
}

.table {
    margin-top:  3em;
    margin-left: 2em;
}
